.header {
    height: 100vh;
    font-family: $josefinFont;
    overflow: hidden;
    width: 100vw;
    position: relative;

    &__small-green,
    &__medium-green,
    &__large-green,
    &__shapes,
    &__shapesSecond {
        position: absolute;
    }

    &__small-green {
        top: 75%;
        left: 7%;

        @include media1024px {
            top: 80%;
            left: 40%;
        }

        @include media1800px {
            top: 75%;
            left: 50%;
        }
    }

    &__medium-green {
        width: 14%;
        top: 18%;
        left: 50%;

        @include media1024px {
            top: 34%;
            left: 50%;
            width: 14%;
        }

        @include media1366px {
            top: 38%;
            left: 50%;
            width: 13%;
        }

        @include media1800px {
            top: 28%;
            left: 47%;
            width: 10%;
        }
    }

    &__large-green {
        width: 10%;
        left: -100%;

        @include media1024px {
            top: 80%;
            left: 3%;
        }

        @include media1800px {
            left: 2%;
            top: 60%;
            width: 7%;
        }
    }

    &__shapes {
        width: 50%;
        left: 30%;
        top: 10%;
        z-index: -2;

        @include media768px {
            left: 20%;
            top: 20%;
        }

        @include media1024px {
            top: 25%;
            left: 35%;
            width: 45%;
        }

        @include media1366px {
            width: 30%;
            left: 40%;
            top: 25%;
        }

        @include media1800px {
            top: 10%;
            left: 35%;
            width: 35%;
        }


    }

    &__shapesSecond {
        left: -30%;
        top: 40%;
        width: 50%;

        @include media1366px {
            width: 30%;
            left: -10%;
        }

        @include media1800px {
            top: 40%;
            left: -10%;
            transform: rotate(40deg);
        }


    }

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80vw;
        margin: 0 auto;

        @include media1024px {
            margin: -100px auto 0;
        }

        @include media1366px {
            margin: 0 auto;
        }
    }

    &__title {
        font-size: 3em;
        align-self: flex-end;
        flex-basis: 20%;
        padding-top: 50px;

        @include media768px {
            font-size: 4.5em;
            width: 70vw;
            flex-basis: 10%;
            align-self: flex-start;
            text-transform: uppercase;
        }

        @include media1024px {
            width: 55vw;
            margin-top: 40%;
            margin-bottom: 0;
        }

        @include media1366px {
            width: 45vw;
            margin-top: 15%;
        }

        @include media1800px {
            margin-top: 10%;
        }

        &-description {
            font-size: 1.6em;
            font-weight: 400;
            margin-top: -10%;

            @include media768px {
                font-size: 2.3em;
                width: 100vw;
                margin-top: -2.5%;
            }

            @include media1024px {
                margin-top: 0;
                font-size: 2.7em;
            }

            @include media1366px {
                margin-top: 0;
                font-size: 2.5em;
            }
        }

    }

    &__background {
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 35%;
        right: -10%;

        @include media768px {
            top: 25%;
            width: 80%;
        }

        @include media1024px {
            right: 10%;
            top: 48%;
            width: 60%;
        }

        @include media1366px {
            width: 40%;
            right: 0%;
            top: 22%;
        }

        @include media1800px {
            width: 45%;
            right: 0%;
            top: 15%;
        }
    }

    &__secondBackground {
        position: absolute;
        width: 300%;
        top: -60%;
        left: -60%;
        z-index: -2;

        @include media768px {
            width: 150%;
            top: -10%;
            left: -10%;
        }

        @include media1366px {
            width: 120%;
            top: -50%;
            left: 25%;
        }

        @include media1800px {
            width: 70%;
            top: -20%;
            left: 50%;
        }
    }

    &__btn {
        position: absolute;
        bottom: 6%;
        font-size: 1.5em;
        font-weight: bold;
        color: #000;
        height: 40px;
        width: 140px;
        text-align: center;
        background-color: $main-color;
        border-radius: 40px;
        line-height: 45px;
        transition: .5s;
        cursor: pointer;

        &-second {
            position: absolute;
            bottom: 6%;
            font-size: 1.5em;
            font-weight: bold;
            left: 55%;
            height: 40px;
            line-height: 45px;

            @include media768px {
                font-size: 2em;
                bottom: 20%;
                left: 40%;
                height: 60px;
                line-height: 65px;
            }

            @include media1024px {
                bottom: 51%;
                width: 240px;
                left: 33%;
                cursor: pointer;
                transition: .5s;

                &:hover {
                    color: $main-color;
                }
            }

            @include media1366px {
                bottom: 24%;
                left: 25%;
            }

            @include media1800px {
                bottom: 50%;
                left: 18%;
            }
        }

        @include media768px {
            width: 230px;
            height: 60px;
            font-size: 2em;
            bottom: 20%;
            line-height: 65px;
        }

        @include media1024px {
            bottom: 51%;
            width: 240px;

            &:hover {
                background-color: black;
                color: white;
            }
        }

        @include media1366px {
            bottom: 24%;
        }

        @include media1800px {
            bottom: 50%;
        }
    }
}