@keyframes burgerAnim {
    0% {}

    100% {
        left: 0
    }
}

@keyframes endBurgerAnim {
    0% {
        left: 0
    }

    100% {
        left: 100%
    }


}

@keyframes navAnim {
    100% {
        right: 0;
    }
}

@keyframes navAnimClosing {
    0% {
        right: 0;
    }

    100% {
        right: -250px;
    }
}