.nav {
    position: fixed;
    right: 100%;
    top: 0;
    bottom: 0;
    width: 100vw;
    background-color: #fff;
    overflow: hidden;
    z-index: 999;

    &__background {
        position: absolute;
        width: 70%;
        top: 40%;
        right: 0;
        // filter: brightness(.7);

        @include media768px {
            right: 0;
        }

        &.img-none {
            display: none;
        }
    }

    @include media1024px {
        position: absolute;
        width: 100vw;
        height: 200px;
        position: absolute;
        right: 0;
        top: 0;
        background-color: transparent;
    }

    &.active {

        animation: navAnim 1s cubic-bezier(.52, .91, .77, .36) both;
    }

    &.close {
        animation: navAnimClosing .5s ease-in-out;

    }

    &__list {
        display: grid;
        flex-direction: column;
        grid-gap: 25px;
        font-family: $montserratFont;

        @include media1024px {
            grid-template-rows: 1fr;
            grid-template-columns: repeat(5, 140px);
            justify-items: flex-start;
            align-items: center;
            padding-left: 27%;
        }

        @include media1366px {
            padding-left: 43%;
        }

        @include media1800px {
            padding-left: 56%;
        }
    }

    &__listItem {
        display: block;
        list-style: none;
        cursor: pointer;
        z-index: 2;


        .home {
            font-size: 2em;

            @include media768px {
                font-size: 4em;
            }

            @include media1024px {
                font-size: 1.5em;
            }
        }
    }

    &__item {
        position: relative;
        display: block;
        text-decoration: none;
        color: rgb(65, 65, 65);
        font-size: 2em;
        font-weight: 400;

        &:hover {
            font-weight: 700;
        }

        @include media768px {
            font-size: 4em;
        }

        @include media1024px {
            font-size: 1.5em
        }
    }
}

.menuButton {
    position: fixed;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 38px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 99999;

    @media(min-width:1024px) {
        display: none;
    }

    &__burger {
        width: 30px;
        height: 4px;
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        box-shadow: 0 3px 5px rgba(216, 208, 208, 0.404);
        transition: all .5s ease-in-out;

        &::before,
        &::after {
            content: '';
            position: absolute;
            height: 4px;
            width: 30px;
            background-color: rgb(0, 0, 0);
            border-radius: 5px;
            box-shadow: 0 3px 5px rgba(216, 208, 208, 0.404);
            transition: all .5s ease-in-out;
        }

        &::before {
            transform: translateY(-10px);
        }

        &::after {
            transform: translateY(10px);
        }
    }

    &.open &__burger {
        transform: translateX(-50px);
        background-color: transparent;
        box-shadow: none;
    }

    &.open &__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    &.open &__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
}